<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908175250597-ddo5mj0qavin8ft97lfk3iirogck6o0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908175250597-ddo5mj0qavin8ft97lfk3iirogck6o0c</string>
	<key>API_KEY</key>
	<string>AIzaSyBKJn1dsCmR9Wvu9471plPNJuGOg47QPBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>908175250597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp0701</string>
	<key>PROJECT_ID</key>
	<string>chat-app-0701</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-0701.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908175250597:ios:9558b8a06bf59a6f68a94c</string>
</dict>
</plist>